@import './color.scss';
@import './main.scss';
@import './work.scss';
@import './working.scss';
@import './button.scss';
@import './input.scss';
@import './note.scss';



html {
  height: 100vh;
  background-color: $black-color;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $black-color;
}