.button {
  border: none;
  background-color: $green-color;
  color: $white-color;
  box-shadow: 0 0 3px $white-color;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;

  &:hover {
    background-color: $grey-color;
  }
}