.note {
  margin: 0 5% 5% 5% ;
  border: 2px solid #F2F2F2;
  display: flex;
  flex: 1;
  background-color: $black-color;
  padding: 2% 5%;
  text-decoration: none;
  color: $white-color;
  font-family: 'Do Hyeon', sans-serif;
  outline: none;
  font-size: 1rem;
}